// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$badge-font-size: 8px !important;
$badge-height: 15px !default;
$badge-min-width: 15px !default;
